/* Variables */
:root {
  --primary-color: #aad99a; /* Warm red */
  --secondary-color:  #2fb95a; /* Deep brown */
  --primary-bg: #3ec04ba4; /* Light peach */
  --primary-bg-light: #cde8c8; /* Lighter peach */
  --secondary-bg: #cff2ea; /* Light tan */
  --secondary-bg-light: #cfe2d2; /* Lighter tan */
  --gray1: #f0f0f0; /* Light gray */
  --gray2: #999; /* Medium gray */
  --gray3: #2c2c2c; /* Dark gray */
  --font-size-medium: 1rem;
  --spacing-medium: 1rem;
  --border-radius-medium: 5px;
}

/* Base Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--gray3);
  font-family: 'Edu VIC WA NT Beginner', cursive;
  background-color: var(--gray1);
}

h1, h2, h3, h4, h5, h6 {
  margin: .5em 0;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* Layout */
.main-layout {
  display: grid;
  grid-template-columns: minmax(1.6rem, auto) 1fr minmax(1.6rem, auto);
}

.main-layout > * {
  grid-column: 2;
}

.main-layout .full {
  grid-column: 1 / -1;
}

.container {
  max-width: 800px;
  padding: var(--spacing-medium);
  margin: auto;
}

/* Components */
.home {
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between
  
}

.app-header {
  background-color: var(--primary-color);
  color: var(--secondary-bg-light);
  padding: var(--spacing-medium);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-bg-light);
}

.header-container h1 {
  flex-grow: 1;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}

.app-nav {
  display: flex;
  gap: 15px;
}

a.active {
  color: #fff;
  font-weight: 600;
}

/* Section Styles */
section {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

section:hover {
  transform: scale(1.005);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Animal List Styles */
.animal-list table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--gray2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.animal-list th,
.animal-list td {
  padding: var(--spacing-medium);
  text-align: left;
  border-bottom: 1px solid var(--gray2);
}

.animal-list th {
  background-color: var(--primary-bg-light);
}

.animal-list tr:hover {
  background-color: var(--primary-bg-light);
}

.animal-list button {
  padding: 8px 16px;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.animal-list button:hover {
  background-color: var(--primary-color);
}

/* SeasonClock Component Styles */
.season-clock {
  background-color: lightblue;
  text-align: center;
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-medium);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.season-clock.dark {
  background-color:darkblue;
  color: #fff;
}

.season-clock h3 {
  margin: var(--spacing-medium) 0;
  font-size: 1.2rem;
}

/* Additional Styles */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Responsive design */
@media (max-width: 768px) {
  .animal-list {
    overflow-x: auto;
  }
}

/* CountDown Component Styles */
.count-down {
  border: 2px solid #ccc;
  text-align: center;
}

.count-down h2 {
  margin-bottom: 10px;
}

.count-down h3 {
  font-size: 36px;
  margin: 10px 0;
}

.count-down button {
  margin-top: 10px;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: #fff;
}

.count-down button:hover {
  background-color: var(--primary-color);
}

.count-down.warning {
  border-color: red;
}

.count-down.warning h3 {
  color: red;
}
/* MouseMonitor Component Styles */
.mouse-monitor {
  padding: 20px;
  border: 2px solid var(--gray2);
  border-radius: 10px;
  background-color: var(--primary-bg-light);
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.mouse-monitor.on {
  border-color: #4caf50;
}

.mouse-monitor.off {
  border-color: #f44336;
}

.mouse-monitor p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.mouse-monitor button.pause-resume-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

.mouse-monitor button.pause-resume-button:hover {
  background-color: #0056b3;
}

.mouse-monitor:hover {
  border-color: var(--hover-border-color);
}
