section:hover {
  scale: 1.005 ;
  transition: 0.3s ease;
  }
  .app {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .main-layout {
    display: flex;
    flex-direction: column;
  }

  /* Header */
  .app-header {
    background-color: #111;
    color: #fff;
    padding: 20px 0;
    border-radius: 10px 10px 0 0;
  
  
  }
  
  /* Container */
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Navigation */
  nav {
    display: flex;
  }
  
  .nav-button {
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    transition: color 0.3s ease;
  
  }
  
  .nav-button:hover {
    color: #e50914; /* Netflix red */
  }
  
  .nav-button:focus {
    outline: none;
  }
  
  .home {
   font-family: 'Courier New', Courier, monospace;
  }
  .home span {
    color: #e50914;
    font-size: 45px;
  }
  .home span:hover {
    color: #6a0909;
    transition: color 0.3s ease;
  }
  .animal-list {
    margin: 20px;
    
  }
  
  .animal-list table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .animal-list thead {
    background-color: #f44336;
    color: #fff;
  }
  
  .animal-list th, td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .animal-list th {
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .animal-list tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .animal-list button {
    padding: 8px 12px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .animal-list button:hover {
    background-color: #d32f2f;
  }
  
  .season-clock {
    background-color: lightblue; /* Light background color for light mode */
    color: #fff; /* Light text color */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .season-clock.dark {
    background-color: darkblue; /* Darker background color for dark mode */
  }
  
  .season-clock h3 {
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  .season-clock img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  
  
  /* Styles for the image */
  .season-clock img {
    display: block;
    margin: 0 auto;
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
  }
  
  /* Styles for CountDown component */
  .count-down {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .count-down h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .count-down h3 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .count-down button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .count-down button:hover {
    background-color: #ff3f5e;
  }
  
  .count-down.warning {
    background-color: #ff3f5e;
    animation: pulse-warning 0.5s infinite alternate;
  }
  
  @keyframes pulse-warning {
    from {
      background-color: #ff3f5e;
    }
    to {
      background-color: #ff6f8d;
    }
  }
  .watcher-app {
    padding: 20px;
    
  }
  
  /* Heading styling */
  .watcher-app h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #c90811
  }
  
  /* List styling */
  .watcher-app ul {
    list-style-type: none;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  /* Watcher card styling */
  .watcher-card {
    background-color: #000; /* Adjust background color as needed */
    color: #fff; /* Adjust text color as needed */
    width: calc(33.33% - 20px); /* Adjust width and margins as needed for grid layout */
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
    max-width: 150px;
    max-height:  min-content;
   
  }
  
  /* Watcher image styling */
  .watcher-card img {
    width: 100%;
    margin-bottom: 5px;

  }
  
  /* Watcher name styling */
  .watcher-card h3 {
    font-size: small;
    margin-bottom: 10px;
  }
  
  /* Button styling */
  .watcher-card button {
    background-color: #e50914; /* Netflix red color */
    color: #fff;
    border: none;
    padding: 8px 12px;


  }
  .watcher-card button:first-of-type{
    border-radius: 5px 0 0 5px;
  }
  .watcher-card button:last-of-type{
    border-radius: 0 5px 5px 0;
  }
  .watcher-card button:hover {
    background-color: #c90811; /* Darker shade of red on hover */
  }

  @media screen and (max-width: 768px) {
    .watcher-app{
      padding: 10px;
    }

    .watcher-card {
      width: calc(50% - 200px);
    }

    
  }
  
  
  .mouse-monitor {
    background-color: #111;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .mouse-monitor p {
    margin: 5px 0;
  }
  
  .mouse-monitor button {
    background-color: #e50914; /* Netflix red */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .mouse-monitor button:hover {
    background-color: #c90811; /* Darker shade of red on hover */
  }
  
  .mouse-monitor.off {
    opacity: 0.5; /* Lower opacity when turned off */
  }